<div>
	<div ng-controller="CardCtrl-{{ id }}">
		-{{ id }}-
	</div>

	<script>
	    angular.module('MyApp', ['ngMaterial']).controller("CardCtrl-{{ id }}", function($scope) {
			console.log('bonjour {{ id }}');
		});
	</script>
</div>